// Color

$White-Color:                   #ffffff;
$Black-Color:                   #000000;
$theme-black:                   #33373A;
$theme-red:                     red;
$theme-light-black:             #474D51;
$theme-light-red:               #F96B8F;
$theme-error:                   #ED184F;
$Disable-gray:                  #BEC1C3;
$color-green:                   #1DC39A;
$color-orange:                  #FF7330;;