.date-picker-custom{
  .calender-title{
    font-size: 30px;
    text-align: center;
    color: #353535;
    font-family: 'Cabin';
    line-height: 29px;
  }
  .intro-card-right{
    background: #fff;
    border-radius: 12px;
    padding: 40px 25px 20px;
    margin-bottom: 28px;
  }
  .react-datepicker__header{
    background: transparent;
    border: 0;
  }
  .react-datepicker__month-container,.react-datepicker{
    width: 100%;
    border: 0;
  }
  .react-datepicker__day--selected,.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected{
    background-color: transparent !important;
    color: #ff7330 !important;
  }
  .react-datepicker__day.react-datepicker__day--selected{
    color: #353535 !important;
    opacity: 0.5;
  }
  

  .react-datepicker__navigation{
    top: 22px;
    background-color: transparent;
    // &:hover{
    //   background-color: #ff7330;
    //   .react-datepicker__navigation-icon::before{
    //     border-color: #fff;
    //   }
    // }
    .react-datepicker__navigation-icon{
      top: 3px;
    }
  }
  .react-datepicker__navigation--previous{
    left: unset;
    right: 50px;
  }
  .react-datepicker__day--highlighted, .react-datepicker__month-text--highlighted, .react-datepicker__quarter-text--highlighted, .react-datepicker__year-text--highlighted{
    background: transparent;
    color: #ff7330 !important;
 }
  .react-datepicker__navigation--next{
    right: 0;
  }
  .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before{
    height: 12px;
    width: 12px;
    border-color: #353535;
  }
  .react-datepicker__current-month{
    font-size: 20px;
    margin: 18px 0 28px;
    color: #353535;
    font-family: 'Cabin';
    line-height: 21.8px;
    text-align: left;
  }
  .react-datepicker__week,.react-datepicker__day-names{
    display: flex !important;
    .react-datepicker__day,.react-datepicker__day-name{
      flex-grow: 1 !important;
      padding: 0.9%;
      border-radius: 0;
      font-size: 18px;
      font-family: 'Cabin';
      font-weight: 700;
      color: #353535;
      // width: auto;
    }
  }
  .react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover{
    background-color: transparent !important;
  }
  .react-datepicker__day-names{
    background-color: #F4F3F1;
    border-radius: 12px 12px 0 0;
    padding-top: 18px;
  }
  .react-datepicker__day--outside-month{
    opacity: 0.5;
  }
  .react-datepicker__month{
    margin: 0;
    background-color: #F4F3F1;
    border-radius: 0 0 12px 12px;
  }
  .react-datepicker__week .react-datepicker__day{
    margin: 1% 3%;
  }
}
.td-full{
  position: relative;
  left: auto;
  text-align: center;
}