.signUpNext-main{
    background-color: #EEECE8;
    padding: 20px;
    min-height: 100%;
    .container{
      max-width: 1728px;
      padding: 0;
      align-self: start;
      @media screen and (max-width: 768px) {
        padding:0 20px;
      }
      @media screen and (max-width: 425px) {
        padding:0 12px;
      }
      .css-1oscnvr-placeholder{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }
      .signUpNext-detail{
        background-color: #FAF9F9;;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 12px;
        width: 100%;
        max-width: 1188px;
        margin: 4% auto;
        min-height: 88vh;
        @media screen and (max-width: 1199px){
          max-width: 1000px;
        }
        @media screen and (max-width: 1030px){
          // max-width: 700px;  
          .signupnext-padding{padding: 0 !important;}
        }
        @media screen and (max-width: 991px){
          max-width: 80%;  
          @media(max-width:767px){
            max-width: 100%;
          }
          .signupnext-padding{padding: 0 15% !important;
            @media screen and (max-width: 425px) {
              padding: 0 20px !important;
            }
          }
          
        }
      @media screen and (max-width: 768px) {
        padding: 25px;
        margin-top: 50px;
      }
      @media screen and (max-width: 624px) {
        padding: 2px;
      }

        .signupnext-padding{
          padding: 0 5%;
        }
        .font-size-14-px{
          font-size: 14px;
        }
        .css-1vbm3hp-control {
          border-radius: 0 !important;
        }
        .css-i4low4-control{
          border-radius: 0 !important;
        }

        div>p{
          // width: 100%;
          // height: auto;
          // font-weight: 700 !important;
          // line-height: 109.9% !important;
          // font-family: 'Circular Std';
          // font-style: normal;
          // /* or 53px */
          // color: #353535;
          // font-weight: 700;
          // justify-content: center;
          // text-align: center;
          // font-size: 2.35rem;

          padding-bottom: 26px !important;
          width: 100%;
          height: auto;
          font-weight: 700 !important;
          line-height: 52.7px !important;
          font-family: 'Cabin';
          font-style: normal;
          color: #353535;
          text-transform: capitalize;
          font-size: 48px !important;
          justify-content: center;
          @media screen and (max-width: 924px) {
            font-size: 38px !important;
            padding-bottom: 18px !important;
            line-height: 40px !important;
            text-align: center;
          }
          @media screen and (max-width: 768px) {
            // padding: 0 20px;
          }
          @media screen and (max-width: 640px) {
            font-size: 32px !important;
            line-height: 30px !important;
          }
          @media screen and (max-width: 425px) {
            font-size: 30px !important;
  
          }
  
          @media screen and (max-width: 320px) {
            font-size: 25px !important;
            line-height: 29px !important;
          }
       }
      }
    }
    .footer{
      align-self: end;
  }
    .text-body{
      text-transform: initial !important;
    }
       
    @media screen and (max-width: 2560px){
      img{
        position: relative;
        z-index: 0;
      }
      .signUpNext-detail{
        .align-items-baseline{
          padding: 0 5%;
          position: relative;
          padding-bottom: 20px;
          align-items: center !important;
          display: flex !important;
          @media (max-width:557px) {
            align-items: flex-start !important;           
          }
          img{
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;
            @media (max-width:557px) {
              padding-top: 10px;
            }
          }
          p.text_body{
            padding-bottom: 0 !important;
          }
        }
        
       }
      //  .arrow-left{
      //   position: absolute;
      //   left: 25px;
      //   top: 8px;
      //   cursor: pointer;
      //   @media screen and (max-width: 768px){
      //     left: 8px;
      //   }
      //   @media screen and (max-width: 425px){
      //     top: 4px;
      //     left: 12px;      
      //   }
      //   @media screen and (max-width: 420px){
      //     top: 2px;
      //   }
      // }

    }
      
    @media screen and (max-width: 768px){
      .signUpNext-detail{
        margin-top: 50px;
        margin-bottom: 50px;
        .signupnext-padding{
          padding: 0 5%;
        }
       }
       .logo-center{text-align: center;    padding-top: 20px;}
    }
    @media screen and (max-width: 425px){
      .signUpNext-detail{
       padding: 45px 0 !important;       
      
      }
    }
    .signUpNext-button{
      max-width: 400px !important;
      height: 78px !important;
      text-transform: uppercase;
      font-size: 12px;
    }
    .text_body{
      font-size: 15px;
    }
    @media (min-width: 576px) {
        
    }
    @media (min-width: 1200px) {
      .text_body{
        display: flex;
        align-items: baseline;
      }
      .arrow{
        padding-bottom:8px !important;
      }
      
  }
  
    a {
      color: white;
    }
}

.fg-md1{
  margin-bottom: 10px;
}
.signUpNext-main{
  .back-btnn a{
    display: flex;
    align-items: center;
    img{
      padding-bottom: 0 !important;
    }
  }
  .container{
    padding: 20px;
    @media (max-width:1400px) {
        max-width: 90%;
    }
    @media (max-width:991px) {
      max-width: 100%;
  }
  }
}
.signUpNext-main  .container .signUpNext-detail .photo-signup-header{
  margin-bottom: 20px;
  align-items: center !important;
  position: relative;
  padding-left: 30px !important;
  padding-bottom: 0 !important;
  img{
    padding: 0 !important;
    @media(max-width:767px){
      position: absolute;
      left: 5px;
      top:10px;
      // transform: translateY(-50%);
    }
  }
  p{
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-align: center;
  }
}