.radius-br {
    border-radius: 0 !important;
}

.temp-custom-class {
    .css-1vbm3hp-control {
        border-radius: 0;
    }
}

@media screen and (max-width: 306px) {
.css-g1d714-ValueContainer{    padding: 18px 12px !important;}
}